<!DOCTYPE html>
<html>
<head>
	<title>Kefa Practice</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top justify-content-center mb-5">
		<!-- Brand -->
		<a class="navbar-brand" href="index.html">Kefa Mutuma</a>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>

	<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<div class="container">
				<ul class="nav navbar-nav navbar-right justify-content-end nav-tab">
					<li class="nav-item">
					<a class="nav-link" href="login_template.html">Login</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="registration_template.html">Register</a>
					</li>
					<!-- <li class="nav-item">
					<a class="nav-link" href="#">contact</a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>

    <br/><br/><br/>

	<section class="row mt-5 pt-5">
		<div class="container">

			<h1 style="text-align: center;line-height: 1.8em;min-height: 1.8em"><span style="font-weight: bold;letter-spacing: -0.04em;font-size: 1.5em">Landing page for Developers</span></h1>
			</h1>

			<br><br>

			<div>
				<p style="text-align: center;line-height: 2em;min-height: 2em">
					<span style="font-size: 1.2em">In this project I strive to make a simple landing page using bootstrap that is simple, well understood, practice on Navbar, is mobile responsive and be able to apply beatiful fonts</span>
				</p>
			</div>

				<p class="mb-5 pb-5" style="text-align:center;line-height:2em;min-height: 2em">
					<span style="font-size: 1.2em"><b>here is a list of the things I am working torwards achieving in this particular project</b></span>
				</p>

			<section class="row jumbotron mt-5 pt-5">
					<div class="col-md-4">
						<ul class="list-group">
							<p align="center"><b>what I achieved</b></p>
							<p align="center">Front end</p>
							<li class="list-group-item text-center">simple HomePage Layout</li>
							<li class="list-group-item text-center">Is mobile responsive</li>
							<li class="list-group-item text-center">With Beautiful fonts</li>
							<li class="list-group-item text-center">Has a Navbar</li>
							<li class="list-group-item text-center">Design a Login Form</li>
							<li class="list-group-item text-center">Design a Registration Form</li>
							<li class="list-group-item text-center">Design a sample Dashboard</li>
						</ul>
					</div>

					<br><br><br>

					<div class="col-md-4 ">
						<ul class="list-group">
							<p align="center"><b>what more I intend to achieve</b></p>
							<p align="center">Back-end</p>
							<li class="list-group-item text-center">flask framework</li>
							<li class="list-group-item text-center">Aunthentication</li>
							<li class="list-group-item text-center">Hash Passwords</li>
							<li class="list-group-item text-center">Protecting sessions</li>
							<!-- <li class="list-group-item text-center">Upload Images</li> -->
							<li class="list-group-item text-center">Connect to a Database and test using XAMPP server</li>
							<li class="list-group-item text-center">Retrieve information from the DataBase</li>

						</ul>
					</div>

					<br><br><br>

					<div class="col-md-4 ">
						<ul class="list-group">
							<p align="center"><b>what more I intend to achieve</b></p>
							<p align="center">Product and Data analysis</p>
							<li class="list-group-item text-center">What makes a great UI/UX</li>
							<li class="list-group-item text-center">Design Sprint Techniques</li>
							<li class="list-group-item text-center">Query the Database to retrieve Data</li>
							<li class="list-group-item text-center">familiarity with data visualization libraries</li>
							<li class="list-group-item text-center">Learn data visualization Techniques</li>
							<li class="list-group-item text-center">statistical methods to draw correlations and patterns</li>
						</ul>
					</div>

					<br><br><br>
			</section>


		</div>
	</section>
	<div align="center">
		<a href="kefaPortfolio.html"><button type="button" class="btn btn-outline-secondary">View My Profile</button></a>
	</div>

	<br><br><br>

	<footer class="row jumbotron">

		<div class="col-md-12">
			<p align="center"> &copy; This sample landing page was made by <a href="kefaPortfolio.html" class="btn btn-light">Kefa</a>.</p>
		</div>
	</footer>







</body>
</html>