<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Kefa's Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Favicon code -->
  <link rel="icon" type="image/png" href="Images/favicomatic/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="Images/favicomatic/favicon-16x16.png" sizes="16x16" />
  <!-- End of favicon code -->
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#who">WHO</a></li>
        <li><a href="#what">WHAT</a></li>
        <li><a href="#projects">PROJECTS</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin" id="who">Who Am I?</h3>
  <img src="Images/kef.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Profile-pic" width="350" height="350">
  <h3>I'm an adventurer, a curious mind and a life-long Learner</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin" id="what">What Am I?</h3>
  <div class="container">
  <p>I am a curious being and an avid learner of things. My background is in Civil Engineering. I love to explore topics at the intersection of Technology and Engineering. Education to me is loving what you do and exploring in depth topics within your lengths of curiousity </p>
  </div>
  <br>
  <a href="#" class="btn btn-default btn-lg">
     Resume
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin" id="projects">Projects I am currently undertaking</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <h3><span>Google Africa scholarship recipient</span></h3>
      <p>Among the recipient of the Google Africa scholarship for the Front-end track through Udacity Nano Degree program. This gave me a starting point on various front-end languages and frameworks. </p>
      <img src="Images/GoogleAfricaChallenge.png" class="img-responsive margin img-fluid" style="width:50%" alt="Google Badge">
    </div>
    <div class="col-sm-4">
      <h3><span>InstaPay for social commerce</span></h3><br>
      <p>InstaPay aims to help merchants sell more on Social Media platforms by onboarding payments and offering a platform where they can sell their goods by directing traffic and removing the need of building an ecommerce platform </p>
      <img src="Images/InstaPay_Logo.png" class="img-responsive margin img-fluid" style="width:50%" alt="Image">
    </div>
    <div class="col-sm-4">
      <h3><span>Product management</span></h3><br>
      <p>I'm passionate about turning Ideas into products. I've taken on the challenge to learn Design thinking concepts, product cycle and product development by building & rapidly testing real life projects and measure feedback from users. <br>
      <span><b>Indie Hacker Nairobi community ambassador</b></span></p>
      <img src="Images/productmarketfit.jpg" class="img-responsive margin img-fluid" style="width:50%" alt="Image">
    </div>
  </div>
<br><br>
  <div class="row">

    <div class="col-sm-4">
      <h3><span>Network Engineer</span></h3><br>     <!-- <h3><p>status: ongoing</p></h3> -->
      <p>My passion to understand the Technology that powers the internet led me to pursue a career in Network Engineering. </p>
      <p><span>Proficient in <b>Routing Protocols -BGP, OSPF, EIGRP. Switching Technologies, Cloud Resources, IPv4 and IPv6 addressing, Network Management, segment Routing, Network Security, Network Programmability and Network architecture. </b>I pursued certification via Cisco Network Academy and became a Cisco Certied Network Associate and later on Pursued the professional path </p> </span>
      <img src="Images/CiscoCCNA.png" class="img-responsive margin img-fluid" style="width:50%" alt="Cisco Badge">
    </div>

    <div class="col-sm-4">
      <h3><span>statistics and Data science</span></h3><br>
      <p>I aim to understand the concepts of Data science and how to manipulate data, draw patterns and make predictions from it. I am building a dashboard using flask framework and using open source data to practice on how to visualize data using different python libraries such as <b> pandas, numpy, seaborn, matplotlib, scikit-learn.</b> Statistical analysis methods and Machine learning</p>
      <br>
      <img src="Images/Data-Science_FB.jpeg" class="img-responsive margin img-fluid" style="width:50%" alt="Image">
    </div>

    <div class="col-sm-4">
      <h3><span>IBM digital Nation Africa</span></h3>
      <br>
      <p>In this course I aim to dive deeper into concepts of Design thinking methodologies to solve problems, Gain an understanding of IBM watson and AI. With the cloud credits offered I aim to learn on how to train data to solve wanting business needs such as predicting repeat customers for a business </p>
      <br><br><br>
      <img src="Images/IbmAfrica.png" class="img-responsive margin img-fluid" style="width:50%" alt="Image">
    </div>

  </div>
</div>

<!-- <style type="text/css">
  img{
    max-width: 100px;
    max-height: 100px;
  }
</style> -->
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p> &copy; Proudly made by kefa </p>
</footer>

</body>
</html>
