<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <title>Products</title>
    </head>
<body>

    <h3> {{ msg }}</h3>

    <section class="row">
    {% for row in data %}
        <div class="col-md-3">
        <div class="card">
        <img src="../static/uploads/{{ row[6] }}" class="img-fluid" alt="Image">
        <div class="card-body">
        name: {{ row[1] }}
        Price: {{ row[2] }}
        </div>
        </div>
        <a href="#" class="btn btn-danger mt-3">ORDER ITEM</a>
        </div>

    {% endfor %}
    </section>

</body>
</html>