<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <!--Start of NAV section-->
    <div class="container-fluid">
        <nav class="navbar mb-o">
            <!-- Brand -->
            <a class="navbar-brand" href="/" style="color: white;">TeeSQUARE</a>
         </nav>
    </div>
    <!--end of Nav section-->

	<section class="row" style="margin: 0 auto;">
        <div class="container mt-0 pt-4" align="center">
          <p style="color: white;"><span>Register to be a member </span></p>
        </div>

      <!-- Div for the main form area -->
      <div class="container col-md-4 col-md-offset-4 shadow-lg p-4 mb-4 bg-white rounded">
      <form action="/register" method="post"> <!-- remember post method is the more secure to use -->
          <h4 style="color:red">{{ msg5 }}</h4>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" name="f_name" id="firstName">
          </div>
          <div class="form-group">
            <label for="secondName">Last Name:</label>
            <input type="text" class="form-control" name="l_name" id="secondName">
          </div>
          <div class="form-group">
              <label for="companyName">Company name: </label>
              <input type="text" class="form-control" name="companyName" id="companyName">
          </div>
          <div class="form-group">
              <label for="email">Company email address:</label>
            <input type="text" class="form-control" name="email_add" id="email" required="required">
            <p>{{ msg3 }}</p>
          </div>
          <div class="form-group">
            <label for="password1">Password: </label>
            <input type="password" class="form-control" name="password1" id="password1" required="required">
            <p>{{ msg1 }}</p>
          </div>
          <div class="form-group">
            <label for="password2">confirm Password: </label>
            <input type="password" class="form-control" name="password2" id="password2" required="required">
            <p style="background-color:red; color: white;text-align: center;">{{ msg2 }}</p>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
      </div>
      <!-- End of Div for the main form area -->

        <br><br>

      <div class="container" align="center">
        <p style="color: white;">Already a member? <a href="/login" class="text-info">Login</a></p>
      </div>

      <style type="text/css">
        body{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,0.9696078260405725) 0%, rgba(9,9,121,0.6502800949481355) 100%);
            background-image: url("../static/constructiongear-min.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: inset 0 0 0 1000px rgba(2,0,36,0.93);
        }
      </style>

    </section>

</body>
</html>