
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>homePage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 400px;
  }
    </style>

</head>

<body class="">

 <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Data analysis</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/SampleTemplate,html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
    </ul>
  </div>
</nav>

 <br><br>

 <section class="row">
     <div class="col-md-12">

     <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/code1.1.jpg" alt="Code Image" class="img-fluid">
    </div>
    <div class="carousel-item">
      <img src="../static/code2.2.jpg" alt="Data analytics image" class="img-fluid">
    </div>
    <div class="carousel-item">
      <img src="../static/code3.3.jpg" alt="Data Analytics image" class="img-fluid">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
     </div>

 </section>

 <br><br>
<div class="container"> <!-- this is the container that hold the content between the carousel and the footer-->
<h2 class="text-center">About The Company</h2>

<br><br>
<section class="row">

    <div class="col-md-8">
        <h3>About dataSuit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Deleniti exercitationem facere harum ipsum minima minus modi natus, nihil odit pariatur possimus praesentium provident quas quidem reiciendis
        repudiandae tempore totam vol
        uptates?</p>

        <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Deleniti exercitationem facere harum ipsum minima minus modi natus, nihil odit pariatur possimus praesentium provident quas quidem reiciendis
        repudiandae tempore totam vol
        uptates?</p>
    </div>

    <div class="col-md-4">
        <img src="../static/alicia.jpeg" alt="" class="img-fluid">
        <a href="" class="btn btn-outline-info">Check More</a> /
        <a href="" class="btn btn-outline-warning">Download</a>

    </div>
</section>

<br><br>

<h2 class="text-center">services</h2>
<section class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="../static/code.jpeg" alt="" class="img-fluid">
            <div class="card-body">

                <h4>analysis</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda bepudiandae totam unde, voluptates. Eum!</p>
                <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>
        </div>


    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="../static/autocard.jpeg" alt="" class="img-fluid">
            <div class="card-body">

                <h4>analysis</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda bepudiandae totam unde, voluptates. Eum!</p>
                <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="../static/dataviz2.jpeg" alt="" class="img-fluid">
            <div class="card-body">

                <h4>analysis</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda bepudiandae totam unde, voluptates. Eum!</p>
                <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>
        </div>

    </div>





</section>

<br><br>

<h2 class="text-center">Our Pricing</h2>
<section class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item text-center"><b>basic </b><br> $50/month </li>
            <li class="list-group-item">Free Domain</li>
            <li class="list-group-item">1GB space</li>
            <li class="list-group-item">Free maintenance</li>
            <li class="list-group-item">Online support</li>
            <li class="list-group-item">Full access</li>
            <li class="list-group-item">Free apps</li>
            <li class="list-group-item text-center"><a href=""class="btn btn-warning">SIGN UP</a></li>

        </ul>


    </div>

    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item text-center"><b>basic </b><br> $50/month </li>
            <li class="list-group-item">Free Domain</li>
            <li class="list-group-item">1GB space</li>
            <li class="list-group-item">Free maintenance</li>
            <li class="list-group-item">Online support</li>
            <li class="list-group-item">Full access</li>
            <li class="list-group-item">Free apps</li>
            <li class="list-group-item text-center"><a href=""class="btn btn-warning">SIGN UP</a></li>

        </ul>

    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item text-center"><b>basic </b><br> $50/month </li>
            <li class="list-group-item">Free Domain</li>
            <li class="list-group-item">1GB space</li>
            <li class="list-group-item">Free maintenance</li>
            <li class="list-group-item">Online support</li>
            <li class="list-group-item">Full access</li>
            <li class="list-group-item">Free apps</li>
            <li class="list-group-item text-center"><a href=""class="btn btn-warning">SIGN UP</a></li>

        </ul>

    </div>
</section>

<br><br>

</div>     <!-- this is the closing div that holds the content between the carousel and the footer -->

<footer class="row jumbotron">
    <div class="col-md-12">
        <h5 class="text-center">&copy; All rights reserved </h5>
        <h6 class="text-center">developed by kefa</h6>
    </div>


</footer>

</body>


</html>