<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testTemplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top justify-content-center">
		<!-- Brand -->
		<a class="navbar-brand" href="#">TeeSQUARE</a>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>

	<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<div class="container">
				<ul class="nav navbar-nav navbar-right justify-content-end nav-tab">
					<li class="nav-item">
					<a class="nav-link" href="login_template.html">Login</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="registration_template.html">Register</a>
					</li>
					<!-- <li class="nav-item">
					<a class="nav-link" href="#">contact</a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>

<!-- end of Navbar -->

<!--Front page section Jumbotron with Image-->
<div class="row mb-12">
    <div class="col-md-12">
        <div class="card card-image img-fluid" style="background-image: url(../static/nairobi2.jpg); background-repeat:no-repeat;">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-5">

                    <!--Content-->
                    <!--

                        <h2 class="card-title pt-3 mb-5 font-bold">Jumbotron with image overlay</h2>
                        <p class="px-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                            fugiat, laboriosam, voluptatem, optio vero odio nam sit officia
                            accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn peach-gradient"><i class="fa fa-clone left"></i> View project</a>
                    <!--Content--
                    -->

                    <!--Title-->
                        <h1 class="card-title h2-responsive mt-2 font-bold"><strong>Material Design for Bootstrap</strong></h1>
                        <!--Subtitle-->
                        <p class="mt-4"><strong>Powerful and free Material Design UI KIT</strong></p>

                        <!--Text-->
                        <div class="d-flex justify-content-center">
                            <p class="card-text my-2" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam. Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--Front page section-->

<!--Front page design 2-->
<div class="jumbotron text-center mdb-color lighten-2 white-text z-depth-2">

    <!--Title-->
    <h1 class="card-title h2-responsive mt-2 font-bold"><strong>Material Design for Bootstrap</strong></h1>
    <!--Subtitle-->
    <p class="mt-4"><strong>Powerful and free Material Design UI KIT</strong></p>

    <!--Text-->
    <div class="d-flex justify-content-center">
        <p class="card-text my-2" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam. Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam.
        </p>
    </div>

    <hr class="my-4 rgba-white-light">

    <button type="button" class="btn btn-outline-white">Buy now <i class="fa fa-diamond ml-1"></i></button>
    <button type="button" class="btn btn-outline-white">Download <i class="fa fa-download ml-1"></i></button>

</div>
<!--frontpage design 2-->


<!--News card-->
<div class="card mb-3 text-center hoverable">
    <div class="card-body">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 offset-md-1 mx-3 my-3">
                <!--Featured image-->
                <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-7 text-left ml-3 mt-3">
                <!--Excerpt-->
                <a href="" class="green-text">
                    <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> Work</h6>
                </a>
                <h4 class="mb-4"><strong>This is title of the news</strong></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                <p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
                <a class="btn btn-success">Read more</a>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</div>
<!--News card-->

<!--Jumbotron-->
<div class="jumbotron text-center blue-grey lighten-5 ">

    <!--Title-->
    <h1 class="card-title h2-responsive font-bold mt-3"><strong>Material Design for Bootstrap</strong></h1>
    <!--Subtitle-->
    <p class="pt-2 font-bold indigo-text"><strong>Powerful and free Material Design UI KIT</strong></p>

    <!--Text-->
    <div class="d-flex justify-content-center">
        <p class="card-text my-3" style="max-width: 43rem;">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam. Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam.
        </p>
    </div>

    <hr class="my-4 pb-2">
    ;
    <button class="btn blue-gradient btn-rounded">Buy now <i class="fa fa-diamond ml-1"></i></button>
    <button class="btn btn-indigo btn-rounded">Download <i class="fa fa-download ml-1"></i></button>

</div>
<!--Jumbotron-->

<footer id="footer" class="page-footer unique-color-dark mt-4">
  <div class="info-color-dark text-center py-4">
      <style>
          .info-color-dark {
              background-color: #09c !important;
            }
          .mdb-color.lighten-2 {
                background-color: #7283a7 !important;
            }
      </style>
    <!--Newsletter-->
    <a id="footer-link-newsletter" href="/newsletter/" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Newsletter
      <i class="fa fa-envelope white-text ml-2"> </i>
    </a>
    <!--Newsletter-->
    <a id="footer-link-affiliate" href="/mdb-affiliate-program/" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Affiliate program
      <i class="fa fa-money white-text ml-2"> </i>
    </a>
    <!--Contact-->
    <a id="footer-link-contact" href="/contact" data-toggle="modal" data-target="#contactForm" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contact
      <i class="fa fa-envelope white-text ml-2"> </i>
    </a>
    <!--GitHub-->
    <a id="footer-link-github" href="https://github.com/mdbootstrap/bootstrap-material-design">
      <i class="fa fa-github white-text mr-4"> </i>
    </a>
    <!--Youtube-->
    <a id="footer-link-youtube" href="https://www.youtube.com/watch?v=cXTThxoywNQ">
      <i class="fa fa-youtube white-text mr-4"> </i>
    </a>
    <!--Facebook-->
    <a id="footer-link-facebook" href="https://www.facebook.com/mdbootstrap">
      <i class="fa fa-facebook white-text mr-4"> </i>
    </a>
    <!--Twitter-->
    <a id="footer-link-twitter" href="https://twitter.com/MDBootstrap">
      <i class="fa fa-twitter white-text"> </i>
    </a>
  </div>
  <!--Footer Links-->
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-faq" href="/faq/">Frequently Asked Questions</a>
        </p>
        <p>
          <a id="footer-link-browsers" href="/browsers-and-devices/">Browsers and devices</a>
        </p>
        <p>
          <a id="footer-link-license" href="/license/">License</a>
        </p>
        <p>
          <a id="footer-link-changelog" href="/changelog/">ChangeLog</a>
        </p>
        <p>
          <a id="footer-link-policy" href="/privacy-policy/">Privacy Policy</a>
        </p>
        <p>
          <a id="footer-link-refund" href="/return-refund-policy/">Return/Refund policy</a>
        </p>
        <p>
          <a id="footer-link-students" href="/mdb-academy/">Students and universities</a>
        </p>
      </div>
      <!--/.First column-->
      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Resources</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-jquery" href="/material-design-for-bootstrap/">MDB jQuery</a>
        </p>
        <p>
          <a id="footer-link-angular" href="/angular/">MDB Angular</a>
        </p>
        <p>
          <a id="footer-link-react" href="/react/">MDB React</a>
        </p>
        <p>
          <a id="footer-link-vue" href="/vue/">MDB Vue</a>
        </p>
        <p>
          <a id="footer-link-brandflow" href="/automated-app-start/">MDB BrandFlow</a>
        </p>
        <p>
          <a id="footer-link-freebies" href="/freebies/">Free templates</a>
        </p>
        <p>
          <a id="footer-link-templates" href="/templates/">Premium templates</a>
        </p>
      </div>
      <!--/.Second column-->
      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Free tutorials</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a id="footer-link-tutBootstrap" href="/bootstrap-tutorial/">Bootstrap &amp; web design</a>
        </p>
        <p>
          <a id="footer-link-tutWordpress" href="/wordpress-tutorial/">WordPress</a>
        </p>
        <p>
          <a id="footer-link-tutAngular" href="/angular/angular-tutorial/">Angular</a>
        </p>
        <p>
          <a id="footer-link-tutAutomation" href="/automated-app-start/">Automation</a>
        </p>
        <p>
          <a id="footer-link-tutWebpush" href="/web-push-start/">Web Push Notifications</a>
        </p>
        <p>
          <a id="footer-link-tutGulp" href="/bootstrap-gulp-tutorial/">Gulp &amp; customization</a>
        </p>
        <p>
          <a id="footer-link-tutWebpack" href="/mdbootstrap-webpack-tutorial">Webpack</a>
        </p>
        <!-- <p>
              <a href="#!">E-mail software</a>
            </p>
            <p>
              <a href="#!">Web Hosting</a>
            </p>
            <p>
              <a href="#!">Bootstrap editor</a>
            </p> -->
      </div>
      <!--/.Third column-->
      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Company</strong>
        </h6>
        <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-envelope mr-3"></i> contact@mdbootstrap.com</p>
        <!-- <p>
              <i class="fa fa-building mr-3"></i> Our story</p> -->
        <p>
          <a id="footer-link-team" href="/our-team/">
            <i class="fa fa-users mr-3"></i> Our team</a>
        </p>
        <p>
          <a id="footer-link-company" href="/contact/">
            <i class="fa fa-bullhorn mr-3"></i> Company data</a>
        </p>
        <p>
          <a id="footer-link-formedia" href="/mdbootstrap-press-pack/">
            <i class="fa fa-bullhorn mr-3"></i> For media</a>
        </p>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="https://www.MDBootstrap.com">
      <strong> MDBootstrap.com</strong>
    </a>
  </div>
  <!--/.Copyright -->
</footer>


</body>
</html>